---
layout: blog
title: Self Care
permalink: /categories/self-care/
---

<h1>Category: {{ page.title }}</h1>
<ul>
    {% for post in site.categories["self care"] %}
    <li>
        <div class="image">
            <a href="{{ site.baseurl }}{{ post.url }}">
                <img src="{{ site.baseurl }}/{{ post.img }}" alt="post image">
            </a>
        </div>
        <div class="content">
            <div class="text">
                <p>
                    {% for category in post.categories %}
                    <a href="{{ site.baseurl }}/categories/{{ category | slugify }}"><span
                            class="un">{{category}}</span></a>
                    {% endfor %}
                    {{post.date | date_to_string}}
                </p>
                <a href="{{ site.baseurl }}{{ post.url }}">
                    <h4><span class="un">{{post.title}}</span></h4>
                </a>
                <p>{{ post.description }}</p>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>