.about-wrapper {
    grid-column: 1 / -1;
}

.hello .image img {
    display: none;
}

.hello .content {
    padding: 5em;
    background-color: var(--light-pink);
}

.hello .content h4 {
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding-bottom: 1.5em;
    font-weight: 400;
    font-size: 0.9rem;
}

.hello .content h4::after {
    content: '';
    background-color: black;
    width: 4rem;
    height: 1px;
    display: block;
    margin-top: 1rem;
}

.hello .content h1 {
    font-size: 3em;
    font-weight: 500;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;

}

.hello .content p {
    font-size: 1.2rem;
}

.goal {
    text-align: center;
    padding: 2em;
}

.goal p {
    font-weight: 600;
    font-size: 1.4rem;
}

.help-list {
    padding: 5em;
    background-color: var(--light-pink);
}

.help-list h1 {
    text-align: center;
}

.help-list ul {
    padding: 2rem 0;
}

.help-list ul li {
    padding-bottom: 2rem;
    list-style: none;
    font-size: 1.2rem;
}

.help-list ul i {
    padding-right: 1rem;
}

.story {
    padding: 5em;
}

.story h1 {
    text-align: center;
}

.story h1::after, .who-i-am h1::after, .social-media h1::after {
    content: '';
    background-color: black;
    width: 4rem;
    height: 1px;
    display: block;
    margin-top: 1em;
    margin: 0 auto;
}

.story p {
    margin-top: 2rem;
    font-size: 1.2rem;
}

.story h2 {
    text-align: center;
    padding: 1.5rem;
}

.story a {
    color: black;
}

.bold {
    font-weight: 600;
}

.story .images {
    margin-top: 2rem;
    text-align: center;
}

.story .images img {
    width: 100%;
}

.who-i-am {
    padding: 5em;
    border-top: 1px solid var(--light-pink);
}

.who-i-am h1 {
    text-align: center;
    padding-bottom: 2rem;
}

.who-i-am p {
    font-size: 1.2rem;
    padding-top: 2rem;
    padding-right: 1em;
}

.who-i-am .images img {
    display: none;
}

.social-media {
    text-align: center;
    background-color: var(--light-pink);
    padding: 2rem 0;
}

.social-media .socials {
    display: flex;
    font-size: 1.7rem;
    justify-content: center;
    padding-bottom: 2rem;
}

.social-media .socials li {
    list-style: none;
    margin-top: 2rem;
    background-color: white;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}

.social-media .socials li:not(:last-child) {
    margin-right: 2em;
}

.social-media .socials a {
    text-decoration: none;
    color: black;
    transition: all 0.5s ease-in-out;
}

.social-media .socials li:hover {
    background-color: black;
}

.social-media .socials li:hover a {
    color: white;
}

.social-media .socials i {
    width: 2em;
    height: 1em;
    padding: 0.5em 0;
}
