.blog-wrapper {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 4em;
}

.blog-wrapper li {
    list-style: none;
}

.blog-wrapper a {
    text-decoration: none;
    color: #000;
}

.posts {
    grid-column: 1 / -2;
    margin: 0 2em;
}

.posts h1 {
    font-size: 1.5rem;
    font-weight: 500;
}

.posts ul li {    
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--light-pink);
}

.posts .image {
    flex: 0 0 45%;
    margin: 1em 2rem;
    padding-bottom: 2em;
}

.posts .image img {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s ease-in-out; 
}

.posts .image:hover img {
    opacity: 0.7;
    border-radius: 15px;
}

.posts .content {
    flex: 0 0 45%;
    margin: 1em 2em;
    padding-right: 2em;
    padding-bottom: 2em;
}

.posts .content .text {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.posts .content h4 {
    text-transform: uppercase;
    font-weight: 500;
    padding: 1em 0;
    font-size: 1.3rem;
}

.posts .content p {
    font-size: 0.9rem;
}

.posts .content p a {
    text-transform: capitalize;
    color: var(--dark-pink);
    padding-right: 0.3em;
    transition: all 0.5s ease-in-out;
}

.posts .content p a:hover {
    color: #000;
}

.posts .content p a:last-child::after {
    content: "|";
    margin-left: 0.3em;
    color: #000;
}