@media (min-width: 640px) {
    .contact-wrapper .contact {
        padding: 5em 8em;
    }    
}

@media (min-width: 960px) {
    .contact-wrapper .contact {
        display: flex;
        justify-content: space-between;
    }

    .contact .content {
        flex-basis: 45%
    }

    .contact .send-message {
        flex-basis: 45%
    }
}