@media (min-width: 640px) {
    .resources {
        padding: 5em 8em;
    }

    .resources .categories {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 4em;
    }

    .resources .categories > li:not(:last-child) {
        padding: 0;
    }
}

@media (min-width: 960px) {
    .resources .categories {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 4em;

    }
}

@media (min-width: 1024px) {
    
}