@media (min-width: 480px) {
}

@media (min-width: 640px) {
    .site-nav nav {
        display: flex;
        justify-content:center;
    }

    /* The sticky class is added to the navbar with JS when it reaches its scroll position */
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        box-shadow: 0px 1px 3px 0px rgba(133,133,133,1);
    }

    .welcome .content {
        padding: 5em 8em;
    }

    .introduction {
        padding: 5em 8em;
    }
    
    .free-planner {
        display: flex;
        justify-content: center;
    }

    .free-planner .planner {
        flex-wrap: wrap;
    }
    
    .introduction .image {
        background: url('../images/aboutMe.jpg') center top no-repeat;
        background-size: cover;
        overflow: hidden;
        min-width: 400px;
        min-height: 400px;
    }

    .new-in-blog {
        padding: 5em 8em;
    }
    
    .self-care .content {
        padding: 5em 8em;
    }

    .subscribe {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 960px) {
    html {
        font-size: 14px;
    }

    .site-header .site-title img {
        height: 25vh;
        width: 50vw;
    }

    .site-header .socials {
        position: absolute;
        top: 95px;
        left: 30px;
        margin: 0;
    }

    .site-header .search-form input{ 
        position: absolute;
        top: 95px;
        right: 47px;
        height: 20px;
        width: 15%;
    }

    .search-btn {
        position: absolute;
        top: 98px;
        right: 27px;
    }

    .site-footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 2em;
    }

    .ig-pics ul {
        display: grid;
    }

    .copyright {
        grid-column: 1 / -1;
    }

    
    .welcome {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .free-planner .planner input {
        height: 1rem;
        width: 17rem;
    }

    .introduction {
        display: flex;
    }

    .introduction .content {
        margin-left: 2em;
    }

    .new-in-blog ul {
        display: flex;
        justify-content: center;
    }
    
    .new-in-blog ul li {
        flex-basis: 30%;
    }

    .new-in-blog ul li:not(:last-child) {
        margin-right: 1em;
        margin-bottom: 0;
    }

    .self-care {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .self-care .image {
        background: url('../images/mockup-1.jpg');
        overflow: hidden;
        background-position: center left;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .subscribe .content{        
        border: none;
    }
}

@media (min-width: 1024px) {
    html {
        font-size: 16px;
    }

    .site {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: 
            "header header"
            "main main"
            "footer footer";
    }
    
    .site-main {
        grid-area: main;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-column-gap: 4em;
        grid-template-areas: 
            "content sidebar";
    }

    .site-header {
        grid-area: header;
    }

    .site-footer {
        grid-area: footer;
    }

    .post {
        grid-area: content;
    }

    .posts {
        grid-area: content;
    }

    .post-sidebar {
        grid-area: sidebar;
    }

    .free-planner .planner input[type="submit"] {
        width: 10%;
    }

    .ig-pics ul {
        grid-template-rows: repeat(2, 150px);
    }
    

}

