@media (min-width: 640px) {
    .ebook-wrapper  .good-news,.ebook-wrapper .intro,.ebook-wrapper .faq,.ebook-wrapper .buy {
        padding: 5em 8em;
    }
}

@media (min-width: 960px) {
    .ebook-header {
        padding: 30vh;
    }
    .ebook-wrapper .self-care .img {
        margin:  5em auto;
    }
    
    .ebook-wrapper .self-care img {
        display: block;
        width: 130%;
        height: 100%;
    }

    .ebook-wrapper .faq ul {
        columns: 2;
    }
    
}

@media (min-width: 1024px) {
    
}