.contact-wrapper {
  grid-column: 1 / -1; }

.contact-wrapper .contact {
  background-color: var(--light-pink);
  padding: 5em; }

.contact .content {
  padding-bottom: 2em; }

.contact .content h1 {
  font-size: 2.5em;
  font-weight: 500;
  margin-bottom: 0.5em; }

.contact .content p {
  padding-bottom: 2em; }

.contact .content p span {
  font-weight: 600; }

.contact .content p a {
  color: black; }

.contact .send-message input, textarea {
  border: none;
  border: 1px solid var(--dark-grey);
  width: 100%;
  font-size: 1rem;
  padding: 0.5em;
  margin-bottom: 0.5em;
  font-style: italic; }

.contact .send-message textarea {
  resize: none; }

.contact .send-message input[type="submit"] {
  border: none;
  background-color: black;
  color: #fff;
  padding: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.8rem;
  font-style: normal; }

.contact .send-message input[type="submit"]:hover {
  background-color: white;
  color: black; }

.contact .socials {
  display: flex; }

.contact .socials li {
  padding-right: 1.5em;
  list-style: none; }

.contact .socials i {
  font-size: 1em;
  color: #000; }

.contact .socials i:hover {
  color: var(--dark-grey); }
