.wrapper .contact {
    display: flex;
    background-color: var(--light-pink);
    padding: 5rem 8rem;
    justify-content: space-between;
}

.contact .content {
    flex-basis: 45%
}

.contact .content h1 {
    font-size: 2.5em;
    font-weight: 500;
    margin-bottom: 0.5em;
}

.contact .content p {
    padding-bottom: 2em;
}

.contact .content p span {
    font-weight: 600;
}

.contact .content p a {
    color: black;
}

.contact .send-message {
    flex-basis: 45%
}

.contact .send-message input, textarea{
    width: 100%;
    font-size: 1rem;
    padding: 0.5em;
    margin-bottom: 0.5em;
    font-style: italic;
}

.contact .send-message textarea {
    resize: none;
}

.contact .send-message a {
    text-decoration: none;
    background-color: black;
    color: #fff;
    padding: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 0.8rem;
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

.contact .send-message a:hover {
    background-color: white;
    color: black;
}


.contact .socials {
    display: flex;
}

.contact .socials li  {
    padding-right: 1.5em;
    list-style: none;
}

.contact .socials i {
    font-size: 1em;
    color: #000;
    transition: color 0.5s ease-in-out;
}

.contact .socials i:hover {
    color: var(--dark-grey);
}
