.post-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 2rem; }

.post-wrapper li {
  list-style: none; }

.post-wrapper a {
  text-decoration: none;
  color: #000; }

.post {
  flex: 0 0 70%;
  margin: 0 2rem;
  padding-bottom: 2em; }

.post h1 {
  text-transform: uppercase;
  margin-top: -15px;
  font-size: 2rem;
  text-align: center;
  font-weight: 500; }

.post img {
  width: 100%;
  margin: 1em 0;
  border-radius: 35px; }

.post .about-post {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  border: 2px solid var(--light-pink);
  border-right: none;
  border-left: none;
  padding: 0.5em 0;
  margin: 1em 0;
  font-weight: 600; }

.post .about-post ul {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize; }

.post .about-post li:not(:last-child) {
  padding: 0 1em; }

.post .about-post div:not(:last-child) {
  padding: 0 1em; }

.post .about-post .categories-ul {
  display: flex;
  justify-content: space-between; }

.post-sidebar {
  flex: 0 0 25%;
  margin: 1em;
  text-align: center; }

.post-sidebar h3 {
  display: inline;
  text-transform: uppercase;
  color: var(--black-grey);
  font-weight: 500;
  font-size: 1.1rem;
  background-color: white; }

.post-sidebar h3::after {
  content: '';
  height: 4px;
  background-color: darkgray;
  margin-top: -15px;
  display: block; }

.post-sidebar .about-me img {
  border-radius: 50%;
  width: 70%;
  margin: 1em 0;
  transition: opacity 0.5s ease-in-out; }

.post-sidebar .about-me img:hover {
  opacity: 0.7; }

.post-sidebar .about-me p {
  margin: 1em 0; }

.post-sidebar .about-me p i {
  padding-right: 0.5em; }

.post-sidebar .socials {
  margin: 1em; }

.post-sidebar .socials ul {
  display: flex;
  justify-content: center;
  margin: 2em; }

.post-sidebar .socials li:not(:last-child) {
  padding-right: 2.5em; }

.post-sidebar .socials i {
  font-size: 1.5em;
  color: #000;
  transition: color 0.5s ease-in-out; }

.post-sidebar .socials i:hover {
  color: var(--light-pink); }

.post-sidebar .categories {
  margin: 1em; }

.post-sidebar .categories li {
  margin: 1em; }

.post-sidebar .categories a {
  text-transform: capitalize;
  font-weight: 600; }

.un {
  display: inline-block; }

.un:after {
  content: '';
  width: 0px;
  height: 1px;
  margin: 0 auto;
  display: block;
  background: black;
  transition: 300ms; }

.un:hover:after {
  width: 85%;
  margin: 0 auto; }

.post-sidebar .latest-posts ul {
  margin: 2em 0; }

.post-sidebar .latest-posts li {
  margin: 1em; }

.post-sidebar .latest-posts a {
  display: flex;
  text-transform: capitalize;
  font-size: 0.9rem; }

.post-sidebar .latest-posts img {
  width: 80px;
  height: 50px;
  padding-right: 0.4em;
  transition: opacity 0.5s ease-in-out; }

.post-sidebar .latest-posts a:hover img {
  opacity: 0.7; }

.post-sidebar .latest-posts a:hover .un:after {
  width: 85%;
  margin: 0 auto; }

.post-sidebar .search form {
  margin: 2em; }

.post-sidebar .search form input {
  border: none;
  border: 1px solid darkgray;
  height: 30px;
  width: 100%;
  padding: 0.5em;
  font-style: italic; }
