@media (min-width: 640px) {
  .hello .content, .help-list, .story, .who-i-am {
    padding: 5em 8em; }
  .story .images img {
    width: 49%;
    height: auto; }
  .story h2 {
    padding: 2rem 6rem; }
  .goal {
    padding: 4rem 12rem; } }

@media (min-width: 960px) {
  .hello {
    display: flex; }
  .hello .content {
    background-color: white; }
  .hello .image {
    background-color: var(--light-pink);
    width: 140vw; }
  .hello .image img {
    display: block;
    position: relative;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    width: 100%;
    height: auto; }
  .flexed {
    padding-top: 2rem;
    display: flex; }
  .who-i-am .images img {
    display: block;
    height: 100%; } }
