<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/style.css">
    {% if page.title %}
    <title>{{page.title}} - The Blissful Mind</title>
    {% else %}
    <title>The Blissful Mind</title>
    {% endif %}
</head>
<body>
    <header class="site-header">

    </header>

    <footer class="site-footer"></footer>
</body>
</html>