@keyframes slideLeft {
    100% { left: 0; }
}

@keyframes slide {
    from {
        opacity: 0;
        transform: translate(-3em, -1em);
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes slideeven {
    from {
        opacity: 0;
        transform: translate(3em, 1em);
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}

body.loaded {
    .site-main {
        animation: slide 1.5s forwards;
    }

    .site-header {
        opacity: 1;
        animation: slideeven 1s forwards;
    }

    .back-to-top {
        opacity: 1;
    }
}

.resources .animatedUl > li {
    opacity: 1;
    position: relative;
    left: -400%;
    animation: slideLeft 1s forwards;
}

@for $i from 1 through 6 {
    .resources .animatedUl > li:nth-of-type(#{$i}) {
        animation-delay: $i * 0.1s + 0.1s;
  }
}

.back-to-top,
.site-header .site-title img ,
.site-header .socials i,
.site-header .search-form input,
.search-btn,
.site-nav nav a,
.site-map .map a, .search-privacy .privacy a,
.search-privacy .search-footer input,
.socials-footer i,
.welcome .content a,
.free-planner .planner input[type="submit"],
.introduction a,
.new-in-blog .btn,
.self-care .content a,
.subscribe .content input[type="submit"],
.social-media .socials li,
.social-media .socials a,
.posts .image img,
.posts .content p a,
.contact .send-message input[type="submit"],
.contact .socials i,
.ebook-header .content a,
.ebook-wrapper .intro a,
.ebook-wrapper .buy a,
.post-sidebar .about-me img,
.post-sidebar .socials i,
.post-sidebar .latest-posts img {
    transition: all 0.5s ease-in-out;
}