h1 {
    font-size: 2.7em;
    font-weight: 500;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

.bold {
    font-weight: 600;
}

@import 'header';
@import 'footer';
@import 'home';
@import 'contact';
@import 'about';
@import 'post-layout';
@import 'post';
@import 'blog';
@import 'ebook';
@import 'resources';
@import 'responsive';
@import 'main';