html {
    font-family: 'Raleway', 'Verdana', 'Geneva', sans-serif;
    font-size: var(--fs-phone);
    line-height: 1.5;

    @include bp( mobile ) {
        font-size: var(--fs-mobile);
    }

    @include bp( laptop ) {
        font-size: var(--fs-laptop);
    }

    @include bp( desktop ) {
        font-size: var(--fs-desktop);
    }

    @include bp( desktoplarge ) {
        font-size: var(--fs-desktoplarge);
    }
}

h1, h2 {
    font-family: "Playfair Display", Sans-serif;
}

form {
    font-family: 'Raleway', 'Verdana', 'Geneva', sans-serif;
}

input, textarea {
    font-family: inherit;
}