:root {
    --fs-phone: 12px;
    --fs-mobile: 14px;
    --fs-laptop: 16px;
    --fs-desktop: 18px;
    --fs-desktoplarge: 20px;

    --dark-grey: rgb(117, 105, 105);
    --black-grey: #111111;
    --light-pink: #FFF0ED;
    --dark-pink: #ffdad4;
}